<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4"></span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a routerLink="" routerLinkActive="active" aria-current="page">Home</a></li>
      <li class="nav-item"><a routerLink="/stock" routerLinkActive="active" >Stock</a></li>
      <li class="nav-item"><a routerLink="/premiere" routerLinkActive="active">Premiere</a></li>
      <li class="nav-item"><a routerLink="/parite/" routerLinkActive="active">Parite</a></li>
      <li class="nav-item"><a routerLink="/contact" routerLinkActive="active">Contact us</a></li>
      <li class="nav-item"><a routerLink="/info" routerLinkActive="active">Product info</a></li>
    </ul>
  </header>
</div>


<router-outlet></router-outlet>
